html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  
  /* HTML5 display-role reset for older browsers */
  
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
  
  body {
    line-height: 1; }
  
  ol, ul {
    list-style: none; }
  
  blockquote, q {
    quotes: none; }
  
  blockquote {
    &:before, &:after {
      content: '';
      content: none; } }
  
  q {
    &:before, &:after {
      content: '';
      content: none; } }
  
  table {
    border-collapse: collapse;
    border-spacing: 0; }

  .conteiner{
    max-width: 1300px;
    width: 100%;
    padding:5px;
    margin:5px auto;
  }
  .image-box{
    background-image: url(../pictures/image.png);
    background-repeat: no-repeat;
    background-size: 1400px;
    height: 613px;
  }
  .main-logo{
    width: 100px;
    height: 95px;
    right: 0;
  }
   header{
    width: 100%;
    position: fixed;
    right: 0;
    left: 0;
    color: grey;
    background-color: #fff;
  }
  .flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .navbar{
    margin-left: 500px;
  }
  .navbar-li a {
    color: #707070;
    padding: 20px;
  }
  .title{
    padding-bottom: 50px;
    background-color: #fff;
  }
  .title h2{
    font-size: 40px;
    color: #707070;
    padding-top: 50px;
  }
  .box-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
  }
  .box-size{
    width: 400px;
    height: 500px;
  }
  .box-size1{
    width: 400px;
    height: 500px;
  }
  .box-size1 h3{
    font-size: 30px;
    padding-top: 20px;
  }
  .box-size1 p{
    font-size: 18px;
    padding-top: 20px;
  }
  .size{
    width: 400px;
  }
  .box-size h3{
    font-size: 30px;
    padding-top: 20px;
  }
  .box-size p{
    font-size: 18px;
    padding-top: 20px;
  }
  .more{
    font-size: 24px;
    float: right;
    padding-top: 60px;
    padding-bottom: 20px;
    color: #707070;
  }
  .load{
    text-align: center;
    font-size: 30px;
    color: #707070;
  } 
  .nav-menu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #2E2E2E;
  }
  .li-contact{
    color: #fff;
    font-size: 20px;
    padding-top: 2px;
  }
  .li-adress{
    font-size: 13px;
    color: #fff;
    padding-top: 2px;
  }
  .icon{
    width: 43px;
    height: 43px;
    padding:5px;
  }